.student-details-container {
  width: 500px;
  margin: auto;
  margin-top: 20px;
  /*justify-content: center;*/
  /*flex-direction: column;*/
  border: solid 1px gray;
  border-radius: 5px;
  padding: 20px;
  padding-top: 0px;
}

.detail-group {
  margin-bottom: 10px
;
}
